<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="oyourname" />
    <meta name="description" content="layout page for forms" />
    <title>@Page.Title</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/firstpage.css" rel="stylesheet" />
    @RenderSection("head", required: false)
</head>
<body>
    <nav></nav>
    <div class="container-fluid">
        <div class="jumbotron">
            @RenderSection("banner")
        </div>
        @RenderBody()
        <hr style="width:5px" />
        @RenderSection("footer", required:false)
        <br />
        &copy; CPSC1517 NAIT Learning Material
    </div>
</body>
</html>
