<div class="navbar navbar-default navbar-fixed-top">
    <!-- The Next Div Sets up the Branding Title -->
    <div class="navbar-header">
        <a class="navbar-brand">Razor Samples</a>
    </div>

    <!-- menu items -->
    <ul class="nav navbar-nav">

        <!--Root Menu Items-->
        <li><a href="@Href("~/index.cshtml")">Home</a></li>



        <!--Sub Menu (AKA Drop-Down Menu) -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Controls <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="@Href("~/SamplePages/TextBoxes.cshtml")">TextBoxes</a></li>
                <li><a href="@Href("~/SamplePages/RadioButtons.cshtml")">RadioButtons</a></li>
                <li><a href="@Href("~/SamplePages/Checkboxes.cshtml")">Checkboxes</a></li>
                <li><a href="@Href("~/SamplePages/dropdownlist.cshtml")">Dropdown List</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">DB Pages <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="@Href("~/DB_Pages/SingleQuery.cshtml")">Single Query</a></li>
                <li><a href="@Href("~/DB_Pages/MultiRecordQuery.cshtml")">Multi-Record Query</a></li>
            </ul>
        </li>
        <li><a href="#">sds</a></li>
    </ul>

</div>